/bin
*.png
*.ucls

####################################################
##copiado de: https://github.com/github/gitignore:## 
##gitignore / Global / Eclipse.gitignore############
####################################################
*.class

# Package Files #
#*.jar
*.war
*.ear
####################################################
##copiado de: https://github.com/github/gitignore:## 
##gitignore / Java.gitignore########################
####################################################
*.pydevproject
#.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
